# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: alejhern <alejhern@student.42barcelona.co  +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/09/15 14:59:14 by alejhern          #+#    #+#              #
#    Updated: 2025/09/15 15:00:24 by alejhern         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

libft
cub3d
minilib
*.o
*.d
textures*