# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: alejhern <alejhern@student.42barcelona.co  +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/09/15 14:59:14 by alejhern          #+#    #+#              #
#    Updated: 2025/12/02 10:57:20 by alejhern         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

libs
cub3d
*.o
*.d
.venv
obj
audios
maps
*.cub
textures
